@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* 407px is breakpoint for aside */

* {
    font-family: "work sans";
    margin: 0;
}

aside a img {
    opacity: 60%;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 20px;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3978f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 50%;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
}

input {
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}


input::placeholder {
    color: #0E1013;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

h3, h4, h5 {
    font-weight: 600;
}

input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.inactive__btn {
    color: var(--pColor); /* Используем переменную */
    border: 2px solid var(--pColor); /* Используем переменную */
    border-radius: 12px;
    padding: 14px 100px;
    background: none;
    font-size: 18px;
    transition: 0.25s;
}

.inactive__btn:hover {
    border-color: var(--grayDarkColor); /* Используем переменную */
    background-color: var(--grayDarkColor); /* Используем переменную */
    color: var(--whiteColor); /* Используем переменную */
    transition: 0.25s;
    cursor: pointer;
}

.active__btn {
    color: #FFFFFF; /* Используем переменную */
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 100px;
    font-size: 18px;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

li {
    list-style: none;
    color: var(--textColor);
}

.more__btn {
    border: 1.7px solid #105EF5;
    background: none;
    padding: 4px 14px;
    border-radius: 10px;
    color: #105EF5;
    transition: 0.25s;
}

.more__btn:hover{
    background-color: #105EF5;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

/* --- upgrade --- */

.upgrade {
    background-image: url("../imgs/aside/background_upgrade_pro.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    padding: 20px;
    margin-top: 40%;
}

.upgrade h3 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
}

.upgrade p {
    font-weight: 400;
    margin: 5px 0;
    font-size: 10px;
    color: var(--textColor); /* Используем переменную */
}

.upgrade button {
    padding: 10px 40px;
    margin-top: 10px;
}

/* --- header --- */

header {
    padding: 0;
    height: 64px;
    position: fixed;
    width: 100vw;
    background-color: var(--whiteColor); /* Используем переменную */
    z-index: 3;
    border-bottom: var(--borderColor) 2px solid;
}

/* --- header nav --- */

header nav .controls .special__operation svg:hover {
    color: #105EF5;
    cursor: pointer;
}

header nav .path {
    padding: 22.5px 26px;
    border-bottom: 2px #105EF5 solid;
}

header nav {
    width: 80vw;
    margin-left: 17vw;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .controls {
    display: flex;
    align-items: center;
}

header nav .controls svg, header nav .controls img {
    margin: 10px;
}

header .controls .search {
    display: flex;
    align-items: center;
}

header .controls .search input {
    background: none;
}

header .controls .search svg {
    position: relative;
    right: 225px;
    top: 2px;
}

/* --- logo --- */

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 22px;
    font-weight: 400;
    color: #105EF5;
    margin-left: 10px;
}

/* --- aside --- */

aside {
    width: 15vw;
    height: 100vh;
    background-color: var(--whiteColor); /* Используем переменную */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    border-right: 1px solid var(--borderColor);
}

aside ul {
    padding: 0;
    margin-top: 50px;
    margin-left: 20px;
}

aside ul li {
    padding: 14px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--pColor);
}

#rocketWindow {
    stroke: var(--backgroundColor);
}

aside ul li svg {
    color: var(--pColor);
}

aside nav ul li:hover {
    background-color: var(--hoverElementColor);
    transition: 0.25s;
    cursor: pointer;
}

aside ul li a {
    display: flex;
    align-items: center;
    color: var(--pColor); /* Используем переменную */
    font-size: 14px;
    margin-left: 20px;
}

aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

/* --- aside lists --- */

aside ul .lists {
    margin-top: 30px;
}

aside ul .lists li {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

/* --- log out --- */

.logout {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.logout span {
    margin-left: 8px;
}

body {
    background-color: var(--backgroundColor);
}

/* --- main --- */
main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
}

#projects {
    display: block;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    grid-column: 8/19;
    padding: 10px 30px;
    height: 520px;
}

#projects .heading {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
}

.arrows {
    display: inline-block;
    transition: 0.25s;
}

.arrows a :hover {
    color: #105EF5;
    transition: 0.25s;
}

.arrows .back {
    display: inline;
}

.back svg {
    transform: rotate(-90deg);
}

.arrows .next {
    display: inline;
}

.next svg {
    transform: rotate(90deg);
}

#projects .projectName {
    text-align: center;
    font-weight: 500;
    height: fit-content;
    margin-bottom: 25px;
}

#projects .goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 260px;
    overflow-y: scroll;
}

#projects .goals::-webkit-scrollbar {
    display: none;
}

#projects .goal {
    display: grid;
    padding: 10px;
    margin-top: 12px;
    grid-template-columns: 30px auto;
    font-size: 12px;
    color: black;
    border-bottom: 2px solid var(--borderColor);
    background-color: #F4F4F5;
    border-radius: 10px;
}

#projects .goal input {
    margin: 0 auto;
}

#projects .goal label {
    grid-column-start: 2;
    margin-left: 10px;
    line-height: 20px;
}

#projects .progress__container {
    background-color: var(--borderColor);
    width: 100%;
    height: 6px;
    border-radius: 10px;
    margin: 20px auto;
}

#projects .progress__line {
    height: 100%;
    border-radius: 10px;
    background-color: #105EF5;
}

#weekProgressLine {
    width: 70%;
}

#monthProgressLine {
    width: 40%;
}

#projects .progress__bar {
    width: 90%;
    margin: 0 auto;
}



#todayTasks {
    grid-column: 8 / 19;
    grid-row: 3 / 16;
    background-color: var(--whiteColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    padding: 30px;
}

#todayTasks .heading .dayDate {
    color: var(--pColor);
    font-weight: 400;
}

#todayTasks .tasks__list {
    overflow-y: scroll;
}

#todayTasks .tasks__list::-webkit-scrollbar {
    display: none;
}


input[type="time"] {
    background-color: #105EF5;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 500;
    width: fit-content;
    padding: 5px;
}

#todayTasks .task {
    display: grid;
    grid-template-columns: 10% 55% 35%;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 12px 0;
    height: 30px;
}

#todayTasks .task input[type="checkbox"] {
    grid-column-start: 1;
    margin: auto;
}

#todayTasks label {
    grid-column-start: 2;
}

#todayTasks .set__time {
    grid-column-start: 3;
}

#todayTasks .task .set__time {
    display: flex;
    align-items: center;
    padding: 0 5px 0 15px;
    width: fit-content;
    background-color: #105EF5;
    border-radius: 7px;
    margin-left: auto;
}

#todayTasks .task .set__time svg {
    color: var(--whiteColor);
}

#todayTasks .task .time__from, #todayTasks .task .time__to {
    display: flex;
    align-items: center;
    background-color: #105EF5;
}



#calendar {
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px 30px;
    grid-column: 20 / 33;
    grid-row: 1 / 16;
}

#calendar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendar .choose__month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#calendar .choose__month a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

#calendar .choose__month span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

#calendar .calendar__elem {
    display: grid;
    height: 90%;
    width: 100%;
    margin-top: 40px;
    grid-gap: 4px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#calendar .calendar__elem .weekdays {
    display: grid;
    grid-column: 1 / 8;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

#calendar .calendar__elem .weekdays .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar .calendar__elem .day button {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    color: var(--pColor);
    font-weight: 500;
    transition: 0.25s;
}

#calendar .calendar__elem .day button:hover {
    filter: brightness(1.05);
    transition: 0.25s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


#calendar .calendar__elem .day .selected {
    background-color: #105EF5;
    color: var(--whiteColor);
}

.next__month__days {
    filter: brightness(0.90);
}

.day button {
    background-color: var(--borderColor);
}