@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
    --goodBackgroundColor: #E7FFE3;
    --goodTextColor: #29D381;
    --mediumBackgroundColor: #FFF9D4;
    --mediumTextColor: #FFAE00;
    --badBackgroundColor: #FFD8D8;
    --badTextColor: #F44747;
}

ul {
    padding-left: 0;
}

#contextMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 4px;
    z-index: 30;
}

#contextMenu ul li button {
    color: #105EF5;
    background-color: var(--whiteColor);
    /*border-radius: 8px;*/
    border-bottom: 1px solid var(--borderColor);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}