@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
}

button {
    background: none;
    border: none;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.inactive__btn {
    color: var(--pColor); /* Используем переменную */
    border: 2px solid var(--pColor); /* Используем переменную */
    border-radius: 12px;
    padding: 14px 100px;
    background: none;
    font-size: 18px;
    transition: 0.25s;
}

.inactive__btn:hover {
    border-color: var(--grayDarkColor); /* Используем переменную */
    background-color: var(--grayDarkColor); /* Используем переменную */
    color: var(--whiteColor); /* Используем переменную */
    transition: 0.25s;
    cursor: pointer;
}

.active__btn {
    color: #FFFFFF; /* Используем переменную */
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 100px;
    font-size: 18px;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

li {
    list-style: none;
    color: var(--textColor);
}

/* --- upgrade --- */

.upgrade {
    background-image: url("../imgs/aside/background_upgrade_pro.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 220px;
    padding: 20px;
    margin-top: 40%;
}

.upgrade h3 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
}

.upgrade p {
    font-weight: 400;
    margin: 5px 0;
    font-size: 10px;
    color: var(--textColor); /* Используем переменную */
}

.upgrade button {
    padding: 10px 40px;
    margin-top: 10px;
}

/* --- header --- */

header {
    padding: 0;
    height: 64px;
    position: fixed;
    width: 100vw;
    background-color: var(--whiteColor); /* Используем переменную */
    z-index: 10;
    border-bottom: var(--borderColor) 2px solid;
}

/* --- header nav --- */

header nav .path {
    padding: 22.5px 26px;
    border-bottom: 2px #105EF5 solid;
}

header nav {
    width: 80vw;
    margin-left: 17vw;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .controls {
    display: flex;
    align-items: center;
}


header nav .controls a:hover {
    cursor: pointer;
    color: #105EF5;
}

header nav .controls button:hover {
    cursor: pointer;
    color: #105EF5;
}

header nav .controls img {
    margin-left: 10px;
}

header nav .controls svg {
    margin: 10px;
}

header .controls .search {
    display: flex;
    align-items: center;
}

header .controls .search input {
    background: none;
}

header .controls .search svg {
    position: relative;
    right: 225px;
    top: 2px;
}

/* --- logo --- */

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 22px;
    font-weight: 400;
    color: #105EF5;
    margin-left: 10px;
}

/* --- aside --- */

aside {
    width: 15vw;
    height: 100vh;
    background-color: var(--whiteColor); /* Используем переменную */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    border-right: 1px solid var(--borderColor);
}

aside ul {
    padding: 0;
    margin-top: 50px;
    margin-left: 20px;
}

aside ul li {
    padding: 14px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--pColor);
}

#rocketWindow {
    stroke: var(--backgroundColor);
}

aside ul li svg {
    color: var(--pColor);
}

aside nav ul li:hover {
    background-color: var(--hoverElementColor);
    transition: 0.25s;
    cursor: pointer;
}

aside ul li a {
    display: flex;
    align-items: center;
    color: var(--pColor); /* Используем переменную */
    font-size: 14px;
    margin-left: 20px;
}

aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

/* --- aside lists --- */

aside ul .lists {
    margin-top: 30px;
}

aside ul .lists li {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

/* --- log out --- */

.logout {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.logout span {
    margin-left: 8px;
}

/* --- main --- */

main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(15, 90px);
    grid-column-gap: 24px;
    background-color: var(--backgroundColor);
    grid-template-rows: repeat(36, 50px);
    height: 110vh;
}

#chats {
    display: grid;
    grid-column: 4 / 15;

}

#chats h3, #chats h4 {
    font-weight: 500;
}

#chats .projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#chats .project {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(2, 1fr);
    margin: 7px;
    width: 520px;
    height: 80px;
    padding: 14px 30px;
    background-color: var(--whiteColor);
    border-radius: 14px;
    border: 1px solid var(--borderColor);
}

#chats .project .project__title {
    grid-row-start: 1;
    margin: auto 0;
    font-size: 14px;
}

#chats .project .project__title h3 {
    display: inline;
}

#chats .project .project__title .tag {
    color: var(--pColor);
    margin-left: 4px;
}

#chats .project .new__messages__amount {
    color: var(--whiteColor);
    background-color: #105EF5;
    border-radius: 20px;
    font-size: 10px;
    height: 10px;
    width: 10px;
    padding: 6px 5px;
    margin-left: 6px;
}

.last_message {
    grid-row: 2;
    margin-top: auto;
}

.last_message .user {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
}

.last_message .user__name {
    white-space: nowrap;
}

.last_message .message {
    margin-left: 8px;
}

.members {
    margin-left: auto;
    grid-row: 2;
    grid-column: 2;
}

.members__list {
    display: flex;
}

.members__amount {
    margin-left: 10px;

}

.members__list img {
    width: 30px;
}

.more__members {
    background-color: #E3F5FF;
    color: #105EF5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    font-size: 10px;
}

.members__amount {
    position: relative;
    left: 10px;
    bottom: 7px;
    font-size: 14px;
}

.member {
    position: relative;
}

.more__members {
    z-index: 4;
    position: relative;
    left: 30px;
}

.member1 {
    left: 20px;
    z-index: 3;
}

.member2 {
    left: 10px;
    z-index: 2;
}

.member3 {
    z-index: 1;
}