@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
    --goodBackgroundColor: #E7FFE3;
    --goodTextColor: #29D381;
    --mediumBackgroundColor: #FFF9D4;
    --mediumTextColor: #FFAE00;
    --badBackgroundColor: #FFD8D8;
    --badTextColor: #F44747;
}

button {
    background: none;
    border: none;
    white-space: nowrap;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}


a:hover {
    cursor: pointer;
    color: #105EF5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 20px;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3978f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 50%;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
}


input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.drop__menu {
    display: none;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.active__drop__menu {
    display: block;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.drop__menu .items__list {
    z-index: 30;
}

.drop__menu .items__list .menu__elem {
    display: block;
    width: 180px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px auto;
    color: #105EF5;
    background-color: var(--whiteColor);
}

.drop__menu .items__list .menu__elem:hover {
    color: #3978f6;
}

#create {
    color: var(--textColor);
}

#create:hover {
    color: #105EF5;
}

.more__btn {
    border: 1px #105EF5 solid;
    border-radius: 10px;
    padding: 3px 10px;
    color: #105EF5;
    transition: 0.25s;
}

.more__btn:hover {
    cursor: pointer;
    background-color: #105EF5;
    color: white;
    transition: 0.25s;
}

.inactive__btn {
    color: var(--pColor); /* Используем переменную */
    border: 2px solid var(--pColor); /* Используем переменную */
    border-radius: 12px;
    padding: 14px 100px;
    background: none;
    font-size: 18px;
    transition: 0.25s;
}

.inactive__btn:hover {
    border-color: var(--grayDarkColor); /* Используем переменную */
    background-color: var(--grayDarkColor); /* Используем переменную */
    color: var(--whiteColor); /* Используем переменную */
    transition: 0.25s;
    cursor: pointer;
}

.active__btn {
    color: #FFFFFF;
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 100px;
    font-size: 18px;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

li {
    list-style: none;
    color: var(--textColor);
}

/* --- upgrade --- */

.upgrade {
    background-image: url("../imgs/aside/background_upgrade_pro.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 40%;
}

.upgrade h3 {
    font-weight: 500;
    margin-top: 0.6vw;
    font-size: 1.2vw;
}

.upgrade p {
    font-weight: 400;
    margin: 5px 0;
    font-size: 0.6vw;
    color: var(--textColor); /* Используем переменную */
}

.upgrade button {
    padding: 0.6vw 2.3vw;
    margin-top: 0.8vw;
    font-size: 1vw;
    white-space: nowrap;
}

/* --- header --- */

header {
    padding: 0;
    height: 64px;
    position: fixed;
    width: 100vw;
    background-color: var(--whiteColor); /* Используем переменную */
    z-index: 20;
    border-bottom: var(--borderColor) 2px solid;
}

/* --- header nav --- */

header nav .path {
    padding: 22.5px 26px;
    border-bottom: 2px #105EF5 solid;
}

header nav {
    width: 80vw;
    margin-left: 17vw;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .controls {
    display: flex;
    align-items: center;
}

header nav .controls button:hover {
    cursor: pointer;
    color: #105EF5;
}

header nav .controls img {
    margin-left: 10px;
}

header nav .controls svg {
    margin: 10px;
}

header .controls .search {
    display: flex;
    align-items: center;
}

header .controls .search input {
    background: none;
}

header .controls .search svg {
    position: relative;
    right: 225px;
    top: 2px;
}

/* --- logo --- */

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 22px;
    font-weight: 400;
    color: #105EF5;
    margin-left: 10px;
}

/* --- aside --- */

aside {
    width: 16vw;
    height: 100vh;
    background-color: var(--whiteColor); /* Используем переменную */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    border-right: 1px solid var(--borderColor);
}

aside ul {
    padding: 0;
    margin-top: 50px;
    margin-left: 20px;
}

aside ul li {
    padding: 10px 14px;
    margin-bottom: 8px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--pColor);
}


#rocketWindow {
    stroke: var(--backgroundColor);
}

aside ul li svg {
    color: var(--pColor);
}

aside nav ul li:hover, aside ul li:hover {
    background-color: var(--hoverElementColor);
    color: #105EF5;
    fill: #105EF5;
    cursor: pointer;
}

aside nav ul li:hover > svg {
    color: #105EF5;
}

aside nav ul li:hover > a {
    color: #105EF5;
}

aside nav ul li:hover > a svg {
    color: #105EF5;
}


aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}



/* --- aside lists --- */

aside ul .lists {
    margin-top: 30px;
}

aside ul .lists li {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

/* --- log out --- */

.logout {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.logout span {
    margin-left: 8px;
}


#rocketWindow {
    stroke: var(--backgroundColor);
}

aside ul li svg {
    color: var(--pColor);
}


aside ul li a {
    display: flex;
    align-items: center;
    color: var(--pColor);
    font-size: 14px;
    width: 100%;
}

aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

/* --- aside lists --- */

aside ul .lists {
    margin-top: 30px;
}

aside ul .lists li {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

/* --- log out --- */

.logout {
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 10%;
}

.logout span {
    margin-left: 8px;
}

body {
    background-color: var(--backgroundColor);
}

.current__link {
    background-color: var(--hoverElementColor);
}

.current__link > a svg {
    background-color: var(--hoverElementColor);
    color: #105EF5;
    fill: #105EF5;
    cursor: pointer;
}

.current__link > a span {
    color: #105EF5;
}
