@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
    --goodBackgroundColor: #E7FFE3;
    --goodTextColor: #29D381;
    --mediumBackgroundColor: #FFF9D4;
    --mediumTextColor: #FFAE00;
    --badBackgroundColor: #FFD8D8;
    --badTextColor: #F44747;
    --borderDarkerColor: #e4e4e4;
    --placeholderColor: #595959;
}

.goodResult {
    background-color: var(--goodBackgroundColor);
    color: var(--goodTextColor);
}

.mediumResult {
    background-color: var(--mediumBackgroundColor);
    color: var(--mediumTextColor);
}

.badResult {
    background-color: var(--badBackgroundColor);
    color: var(--badTextColor);
}

textarea {
    resize: none;
    border: none;
    width: 85%;
    background-color: var(--borderColor);
    height: 100px;
    border-radius: 10px;
    padding: 14px 30px;
    color: var(--textColor);
}

textarea::placeholder {
    font-size: 14px;
    color: var(--placeholderColor);
}

input::placeholder {
    color: var(--placeholderColor);
}

textarea::-webkit-scrollbar {
    display: none;
}

.notifications {
    transform: translateX(100%);
    display: flex;
    position: fixed;
    background-color: var(--whiteColor);
    height: 100%;
    width: 460px;
    right: 0;
    top: 0;
    z-index: 1;
    border-left: 2px solid var(--borderColor);
    transition: 0.5s transform;
}

.notifications.active {
    transform: translateX(0);
}

.notifications .container {
    padding: 30px 20px;
    background-color: var(--borderColor);
    border-radius: 15px;
    width: 80%;
    height: 70%;
    margin: 100px auto;
    overflow-y: scroll;
}

.notifications .container::-webkit-scrollbar {
    display: none;
}

.notif__list {
    width: 100%;
    margin-top: 20px;
}

.notif {
    background-color: var(--whiteColor);
    padding: 14px 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.notif .main__data {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.notif .title {
    max-width: 50%;
    font-weight: 500;
    font-size: 14px;
    color: var(--textColor);
}

.notif .deadline {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 12px;
    font-weight: 400;
}

.notif .project {
    font-weight: 500;
    color: var(--pColor);
}

.notif .project .project__name {
    color: var(--textColor);
}

.notif .deadline span {
    color: var(--pColor);
}

.notif .deadline .deadline__date {
    color: var(--textColor);
    font-weight: 500;
}

.notif .deadline svg {
    color: #105EF5;
}

section::-webkit-scrollbar {
    display: none;
}

.empty__state {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
    opacity: 0.2;
    font-weight: 500;
}

.empty-state__pic {
    width: 160px;
    height: 160px;

}

#mobileNav {
    display: none;
}

#desktopNav {
    display: flex;
}

button {
    background: none;
    border: none;
    white-space: nowrap;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    /*color: var(--textColor);*/
}


a:hover {
    cursor: pointer;
    color: #105EF5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 20px;
    background-color: var(--backgroundColor);
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3978f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 50%;
    background-color: var(--backgroundColor);
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


input[type="time"] {
    color: var(--pColor);
}

input[type="date"] {
    color: var(--pColor);
}


input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--placeholderColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.drop__menu {
    display: none;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.active__drop__menu {
    display: block;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.drop__menu .items__list {
    z-index: 30;
}

.drop__menu .items__list .menu__elem {
    display: block;
    width: 180px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px auto;
    color: #105EF5;
    background-color: var(--whiteColor);
}

.drop__menu .items__list .menu__elem:hover {
    color: #3978f6;
}

#create {
    color: var(--textColor);
}

#create:hover {
    color: #105EF5;
}

.more__btn {
    border: 1px #105EF5 solid;
    border-radius: 10px;
    padding: 3px 10px;
    color: #105EF5;
    transition: 0.25s;
}

.more__btn:hover {
    cursor: pointer;
    background-color: #105EF5;
    color: white;
    transition: 0.25s;
}


li {
    list-style: none;
    color: var(--textColor);
}

select {
    appearance: none;
    background-color: var(--borderColor);
    color: #105EF5;
    border: 2px solid var(--borderColor);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 500;
}

select::-webkit-validation-bubble-arrow {
    display: none;
}

    /* --- upgrade --- */

.upgrade {
    background-image: url("../imgs/aside/background_upgrade_pro.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 20px;
    width: 100%;
}

.upgrade img {
    width: 2.5vw;
}

.upgrade h3 {
    font-weight: 500;
    margin-top: 0.6vw;
    font-size: 1.2vw;
    white-space: nowrap;
}

.upgrade p {
    font-weight: 400;
    margin: 5px 0;
    font-size: 0.6vw;
    color: var(--textColor); /* Используем переменную */
}

.upgrade button {
    padding: 0.6vw 2.3vw;
    margin-top: 0.5vw;
    font-size: 0.8vw;
    white-space: nowrap;
}

/* --- header --- */

header {
    padding: 0;
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: var(--whiteColor); /* Используем переменную */
    z-index: 20;
    border-bottom: var(--borderColor) 2px solid;
}

/* --- header nav --- */

header nav .path {
    padding: 22.5px 26px;
    border-bottom: 2px #105EF5 solid;
}

header nav {
    width: 80vw;
    margin-left: 17vw;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .controls {
    display: flex;
    align-items: center;
}

header nav .controls button:hover {
    cursor: pointer;
    color: #105EF5;
}

header nav .controls img {
    margin-left: 10px;
}

header nav .controls svg {
    margin: 10px;
    color: var(--textColor);
}

header .controls .search {
    display: flex;
    align-items: center;
}

header .controls .search input {
    background: none;
}

header .controls .search svg {
    position: relative;
    right: 225px;
    top: 2px;
}

/* --- logo --- */

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 22px;
    font-weight: 400;
    color: #105EF5;
    margin-left: 10px;
}


/* --- aside --- */

aside {
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(3, 1fr);
    width: 15.7vw;
    height: 100%;
    background-color: var(--whiteColor); /* Используем переменную */
    /*padding: 20px;*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
    border-right: 1px solid var(--borderColor);
    overflow-y: scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

aside ul {
    padding: 0;
    margin-top: 50px;
    margin-left: 20px;
}

aside .special li:hover {
    background-color: var(--whiteColor);
}

aside .special li {
    padding: 0;
    width: 100%;
}

aside ul li {
    padding: 10px 14px;
    margin-bottom: 8px;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: var(--pColor);
}

aside ul li svg {
    color: var(--textColor);
    min-width: 30px;
}

aside nav ul li:hover, aside ul li:hover {
    background-color: var(--hoverElementColor);
    color: #105EF5;
    fill: #105EF5;
    cursor: pointer;
}

aside nav ul li:hover > svg {
    color: #105EF5;
}

aside nav ul li:hover > a {
    color: #105EF5;
}

aside nav ul li:hover > a svg {
    color: #105EF5;
}

aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

aside ul li svg {
    color: var(--pColor);
}

aside ul li a {
    display: flex;
    align-items: center;
    color: var(--pColor);
    font-size: 14px;
    width: 100%;
}

aside ul li a span {
    margin-left: 14px;
    display: flex;
    justify-content: space-between;
}

aside ul .lists {
    margin-top: 30px;
}

aside ul .lists li {
    padding: 25px;
    display: flex;
    justify-content: space-around;
}

.logout {
    display: flex;
    align-items: center;
    margin: 10% 0;
    color: var(--textColor);
    padding: 0;
    padding-bottom: 20px;
    width: 88%;
}

.logout span {
    margin-left: 8px;
}

.logout__icon {
    color: var(--textColor) !important;
}

.special__buttons {
    display: none;
}

.current__link {
    background-color: var(--hoverElementColor);
}

.current__link > a svg {
    background-color: var(--hoverElementColor);
    color: #105EF5;
    fill: #105EF5;
    cursor: pointer;
}

.current__link > a span {
    color: #105EF5;
}

.changeTheme {
    background-color: var(--grayDarkColor); /* Используем переменную */
    color: var(--whiteColor); /* Используем переменную */
    height: 50px;
    border-radius: 14px;
    border: none;
    margin-top: 30%;
    position: relative;
    bottom: 20px;
    transition: 0.25s;
    font-weight: 600;
    font-size: 0.8vw;
    width: 100%;
}

.changeTheme:hover {
    cursor: pointer;
    background-color: var(--hoverButtonColor); /* Используем переменную */ /* Используем переменную */
    transition: 0.25s;
}

li svg {
    width: 2.4vw;
}

#contextMenu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 4px;
    z-index: 30;
}

#contextMenu ul {
    padding-left: 0;
}

#contextMenu ul li button {
    color: #105EF5;
    background-color: var(--whiteColor);
    border-bottom: 1px solid var(--borderColor);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

#contextMenu ul li button:hover {
    cursor: pointer;
    color: #3978f6;
    background-color: var(--whiteColor);
    border-bottom: 1px solid var(--borderColor);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

.pop__up {
    display: block;
    min-width: 400px;
    padding: 24px 30px;
    border: 2px solid var(--borderColor);
    background-color: var(--whiteColor);
    border-radius: 15px;
    position: fixed;
    z-index: 50;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%); /* Центрирование */
    opacity: 0;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.pop__up.active {
    opacity: 1;
    transform: translate(-50%, -60%);
    left: 50%;
    top: 60%;
    position: fixed;
}

.pop__up .heading {
    padding: 20px 0;
}

.pop__up .heading {
    text-align: center;
    margin: 14px 10px 10px;
    font-size: 18px;
}

#popWindowPay #payment {
    margin: 60px auto auto;
}

#popWindowPay input {
    background-color: var(--borderColor);
    border: none;
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 14px 30px;
    border-radius: 10px;
    transition: box-shadow 0.1s;
}

.pop__up input:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
}

.pop__up textarea:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
    outline: none;
}

#popWindowPay .special__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popWindowPay .special__data input {
    width: 33%;
    margin: 10px 0;
}

#popWindowPay input[type="submit"] {
    width: 100%;
    background-color: #105EF5;
    color: white;
    margin-top: 70px;
    font-weight: 600;
    height: fit-content;
    transition: 0.25s;
}

#popWindowPay input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}

#popWindowPay input[type="number"] {
    appearance: none;
    font-family: Work sans;
    color: var(--pColor);
}

#popWindowPay input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

#popWindowPay input::placeholder {
    color: var(--placeholderColor);
}

#popWindowPay .about__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 60px;
}

#popWindowPay .about__payment .payment__sum {
    font-size: 1.8vw;
}

#popWindowPay .cards img {
    width: 50px;
}

#popWindowPay .cards .paypal {
    width: 35px;
}

#popWindowPay .close__button {
    width: 25px;
    transition: filter 0.25s;
}

#popWindowPay .close__button:hover {
    filter: brightness(105%);
    cursor: pointer;
    transition: filter 0.25s;
}

#popWindowTask #setTask {
    margin: 60px auto auto;
}

#popWindowTask input {
    background-color: var(--borderColor);
    border: none;
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 14px 30px;
    border-radius: 10px;
    transition: box-shadow 0.1s;
}

#popWindowTask input:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
}

#popWindowTask .special__inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#popWindowTask .special__inputs p {
    font-weight: 500;
    color: var(--textColor);
}

#popWindowTask .special__inputs > div {
    flex: 1;
}

#popWindowTask .special__inputs input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 25px 14px;
    border-radius: 10px;
    background-color: var(--borderColor);
    border: none;
    text-align: center;
}

#popWindowTask input[type="submit"] {
    width: 100%;
    background-color: #105EF5;
    color: white;
    margin-top: 70px;
    font-weight: 600;
    height: fit-content;
    transition: 0.25s;
}

#popWindowTask input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}

#popWindowTask input[type="number"] {
    appearance: none;
    font-family: Work sans;
    color: var(--pColor);
}

#popWindowTask input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

#popWindowTask input::placeholder {
    color: var(--placeholderColor);
}

#popWindowTask .about__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 60px;
}

#popWindowTask .close__button {
    width: 25px;
    transition: filter 0.25s;
}

#popWindowTask .close__button:hover {
    filter: brightness(105%);
    cursor: pointer;
    transition: filter 0.25s;
}

#popWindowTask .selectProject {
    margin: 20px 0;
    font-weight: 500;
    text-align: center;
    color: var(--textColor);
}


/*#popWindowProject {*/
/*    display: none;*/
/*}*/

#popWindowProject #setProject {
    margin: 60px auto auto;
}

#popWindowProject input {
    background-color: var(--borderColor);
    border: none;
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 14px 30px;
    border-radius: 10px;
    transition: box-shadow 0.1s;
}

#popWindowProject input:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
}

#popWindowProject .special__inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#popWindowProject .special__inputs p {
    font-weight: 500;
}

#popWindowProject .special__inputs > div {
    flex: 1;
}

#popWindowProject .special__inputs input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 25px 14px;
    border-radius: 10px;
    background-color: var(--borderColor);
    border: none;
    text-align: center;
}

#popWindowProject input[type="submit"] {
    width: 100%;
    background-color: #105EF5;
    color: white;
    margin-top: 70px;
    font-weight: 600;
    height: fit-content;
    transition: 0.25s;
}

#popWindowProject input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}

#popWindowProject input[type="number"] {
    appearance: none;
    font-family: Work sans;
    color: var(--pColor);
}

#popWindowProject input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

#popWindowProject input::placeholder {
    color: var(--placeholderColor);
}

#popWindowProject .about__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 60px;
}

#popWindowProject .close__button {
    width: 25px;
    transition: filter 0.25s;
}

#popWindowProject .close__button:hover {
    filter: brightness(105%);
    cursor: pointer;
    transition: filter 0.25s;
}

/*pop goal*/

#popWindowWeekGoal #setWeekGoal {
    margin: 60px auto auto;
}

#popWindowWeekGoal input {
    background-color: var(--borderColor);
    border: none;
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 14px 30px;
    border-radius: 10px;
    transition: box-shadow 0.1s;
}

#popWindowWeekGoal input:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
}

#popWindowWeekGoal .special__inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#popWindowWeekGoal .special__inputs p {
    font-weight: 500;
}

#popWindowWeekGoal .special__inputs > div {
    flex: 1;
}

#popWindowWeekGoal .special__inputs input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 25px 14px;
    border-radius: 10px;
    background-color: var(--borderColor);
    border: none;
    text-align: center;
}

#popWindowWeekGoal input[type="submit"] {
    width: 100%;
    background-color: #105EF5;
    color: white;
    margin-top: 70px;
    font-weight: 600;
    height: fit-content;
    transition: 0.25s;
}

#popWindowWeekGoal input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}

#popWindowWeekGoal input[type="number"] {
    appearance: none;
    font-family: Work sans;
    color: var(--pColor);
}

#popWindowWeekGoal input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

#popWindowWeekGoal input::placeholder {
    color: var(--placeholderColor);
}

#popWindowWeekGoal .close__button {
    width: 25px;
    transition: filter 0.25s;
}

#popWindowWeekGoal .close__button:hover {
    filter: brightness(105%);
    cursor: pointer;
    transition: filter 0.25s;
}

/* month goal */

#popWindowMonthGoal #setWeekGoal {
    margin: 60px auto auto;
}

#popWindowMonthGoal input {
    background-color: var(--borderColor);
    border: none;
    display: block;
    width: 85%;
    margin: 10px auto;
    padding: 14px 30px;
    border-radius: 10px;
    transition: box-shadow 0.1s;
}

#popWindowMonthGoal input:focus {
    box-shadow: inset 0 0 0 1.8px #105EF5;
    transition: 0.25s;
}

#popWindowMonthGoal .special__inputs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

#popWindowMonthGoal .special__inputs p {
    font-weight: 500;
}

#popWindowMonthGoal .special__inputs > div {
    flex: 1;
}

#popWindowMonthGoal .special__inputs input {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    padding: 25px 14px;
    border-radius: 10px;
    background-color: var(--borderColor);
    border: none;
    text-align: center;
}

#popWindowMonthGoal input[type="submit"] {
    width: 100%;
    background-color: #105EF5;
    color: white;
    margin-top: 70px;
    font-weight: 600;
    height: fit-content;
    transition: 0.25s;
}

#popWindowMonthGoal input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}

#popWindowMonthGoal input[type="number"] {
    appearance: none;
    font-family: Work sans;
    color: var(--pColor);
}

#popWindowMonthGoal input[type="number"]::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
}

#popWindowMonthGoal input::placeholder {
    color: var(--placeholderColor);
}

#popWindowMonthGoal .close__button {
    width: 25px;
    transition: filter 0.25s;
}

#popWindowMonthGoal .close__button:hover {
    filter: brightness(105%);
    cursor: pointer;
    transition: filter 0.25s;
}

.selectMember {
    text-align: center;
    margin: 20px 0;
}

.selectMember label {
    margin-right: 20px;
}

.active__btn {
    color: #FFFFFF; /* Используем переменную */
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 100px;
    font-size: 18px;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

@media screen and (max-width: 1077px) {
    input[type="checkbox"] {
        width: 15px !important;
        height: 15px !important;
    }


    input[type="checkbox"]::before {
        content: "";
        width: 7px !important;
        height: 7px !important;
        background-color: #3978f6;
        border-radius: 50% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
    }
}

@media screen and (max-width: 1040px) {
    aside ul li a span {
        font-size: 10px;
        margin-left: 0;
    }

    aside ul li {
        padding-left: 0;
    }
}

@media screen and (max-width: 770px) {
    aside {
        width: 150px;
    }
}

@media screen and (max-width: 700px) {

    aside {
        display: none;
    }

    aside .special__buttons {
        display: block;
    }

    .controls {
        display: flex;
    }

    aside .controls__mobile {
        display: flex;
        flex-direction: column;
    }

    .special .controls__mobile button {
        display: flex;
        align-items: center;
        padding: 0 30px;
        width: 100%;
        height: 40px;
        margin: auto;
        color: white;
        background-color: #105EF5;
        border-radius: 12px;
        margin-top: 5px;
    }

    .special .controls__mobile button:hover {
        cursor: pointer;
    }

    .special .controls__mobile button svg {
        color: white;
    }

    .special svg {
        color: white;
    }

    .controls__mobile button span {
        margin-left: 20px;
    }

    aside.active {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        width: 200px;
        height: 100%;
        padding: 20px;
        padding-bottom: 0;
        overflow-y: scroll;
        z-index: 10;
    }

    aside .changeTheme {
        margin-top: 40px;
        color: var(--whiteColor);
        text-align: center;
    }

    aside.active ul {
        margin-top: 0;
        padding-top: 60px;
    }

    aside.active .logo {
        display: none;
    }

    #mobileNav {
        display: flex;
    }

    #desktopNav {
        display: none;
    }

    .notifications {
        width: 340px;
    }

    header {
        display: flex;
        align-items: center;
    }

    header nav {
        width: 85%;
        margin: auto;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    header nav ul li {
        /*margin: auto 0;*/
    }

    header nav ul li img {
        width: 35px;
        height: 35px;
    }

    #logo {
        display: flex;
        flex-shrink: 0;
        font-size: 21px;
    }

    header nav ul li span {
        color: #105EF5;
        margin: auto 1vw;
    }

    aside .changeTheme {
        font-size: 12px;
        width: 100%;
    }

    aside .upgrade img {
        width: 30px;
    }

    aside .upgrade h3 {
        font-size: 14px;
    }

    aside .upgrade p {
        font-size: 10px;
    }

    aside .upgrade a button {
        font-size: 12px;
        border: 5px;
        padding: 8px 21px;
    }
}

@media screen and (max-width: 600px) {
    .pop__up {
        min-width: 200px;
        width: 300px;
    }

    #popWindowTask .selectProject select {
        margin-top: 10px;
    }
}

@media (max-width: 582px) {
    .notifications {
        width: 250px;
    }
}

@media (max-width: 400px) {
    .pop__up {
        padding: 20px;
    }

    #popWindowTask input {
        width: 80%;
    }

    #popWindowTask input[type="submit"] {
        margin-top: 0;
    }

    .pop__up .heading {
        padding: 0;
    }

    #popWindowTask .special__inputs {
        flex-direction: column;
    }
}

@media (max-width: 380px) {

    .pop__up {
        width: 250px;
    }

    .pop__up input {
        width: 70%;
    }

    .pop__up form {
        width: 80%;
    }

    #popWindowTask .special__inputs {
        gap: 0;
    }

    #popWindowTask .special__inputs input {
        margin: auto;
        text-align: center;
    }

    #popWindowTask .special__inputs p {
        text-align: center;
        margin: 10px 0;
    }

}