@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* 407px is breakpoint for aside */

aside a img {
    opacity: 60%;
}


input {
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}


input::placeholder {
    color: #0E1013;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

h3, h4, h5 {
    font-weight: 600;
}

input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

li {
    list-style: none;
    color: var(--textColor);
}

.more__btn {
    border: 1.7px solid #105EF5;
    background: none;
    padding: 4px 14px;
    border-radius: 10px;
    color: #105EF5;
    transition: 0.25s;
}

.more__btn:hover{
    background-color: #105EF5;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}


/* --- main --- */
main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(20, 5%);
    height: 100vh;
    background-color: var(--backgroundColor);
}

#projects {
    display: block;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    grid-column: 8/19;
    padding: 10px 30px;
    grid-row: 1 / 14;
    overflow-x: scroll;
}

#projects::-webkit-scrollbar {
    display: none;
}

#projects .heading {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
}

.arrows {
    display: inline-block;
    transition: 0.25s;
}

.arrows a :hover {
    color: #105EF5;
    transition: 0.25s;
}

.arrows .back {
    display: inline;
}

.back svg {
    transform: rotate(-90deg);
}

.arrows .next {
    display: inline;
}

.next svg {
    transform: rotate(90deg);
}

#projects .projectName {
    text-align: center;
    font-weight: 500;
    height: fit-content;
    margin-bottom: 25px;
    color: var(--textColor);
}

#projects .goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 260px;
}

#projects .goal {
    display: grid;
    padding: 10px;
    margin-top: 12px;
    grid-template-columns: 30px auto;
    font-size: 12px;
    color: var(--textColor);
    background-color: var(--borderColor);
    border-radius: 10px;
}

#projects .weekGoals, #projects .monthGoals {
    overflow-y: scroll;
    padding: 0;
}

#projects .weekGoals::-webkit-scrollbar {
    display: none;
}

#projects .monthGoals::-webkit-scrollbar {
    display: none;
}

#projects .goal input {
    margin: 0 auto;
}

#projects .goal label {
    grid-column-start: 2;
    margin-left: 10px;
    line-height: 20px;
    overflow-wrap: anywhere;
}

#projects .progress__container {
    background-color: var(--borderColor);
    width: 100%;
    height: 6px;
    border-radius: 10px;
    margin: 20px auto;
}

#projects .progress__line {
    height: 100%;
    border-radius: 10px;
    background-color: #105EF5;
    max-width: 100%;
}

#weekProgressLine {
    width: 0%;
}

#monthProgressLine {
    width: 0%;
}

#projects .progress__bar {
    width: 90%;
    margin: 0 auto;
}


#todayTasks {
    grid-column: 8 / 19;
    grid-row: 14 / 20;
    margin-top: 25px;
    background-color: var(--whiteColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    padding: 30px;
    overflow-y: scroll;
}

#todayTasks::-webkit-scrollbar {
    display: none;
}

#todayTasks .heading .dayDate {
    color: var(--pColor);
    font-weight: 400;
}

#todayTasks .tasks__list {
    overflow-y: scroll;
}

#todayTasks .tasks__list::-webkit-scrollbar {
    display: none;
}


input[type="time"] {
    background-color: #105EF5;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 500;
    width: fit-content;
    padding: 5px;
    font-size: 0.8vw;
}

.pop__up input[type="time"] {
    color: var(--pColor);
}

#todayTasks .task {
    display: grid;
    grid-template-columns: 10% 70% 20%;
    font-weight: 500;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 12px 0;
    height: 30px;
}

#todayTasks .task input[type="checkbox"] {
    grid-column-start: 1;
    margin: auto;
}

#todayTasks label {
    grid-column-start: 2;
    color: var(--textColor);
}

#todayTasks .task .deadline svg {
    color: white;
    width: 1.2vw;
}

#todayTasks .task .deadline {
    display: flex;
    align-items: center;
    background-color: #105EF5;
    padding-left: 0.6vw;
    border-radius: 5px;
}



#calendar {
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px 30px;
    grid-column: 20 / 33;
    grid-row: 1 / 20;
    overflow-y: scroll;
}

#calendar::-webkit-scrollbar {
    display: none;
}

#calendar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendar .choose__month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#calendar .choose__month a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

#calendar .choose__month span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--textColor);
}

#calendar .calendar__elem {
    display: grid;
    height: 90%;
    width: 100%;
    margin-top: 40px;
    grid-gap: 4px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#calendar .calendar__elem .weekdays {
    display: grid;
    grid-column: 1 / 8;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

#calendar .calendar__elem .weekdays .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textColor);
}

#calendar .calendar__elem .day button {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    color: var(--pColor);
    font-weight: 500;
    transition: 0.25s;
    font-size: 16px;
}

#calendar .calendar__elem .day button:hover {
    filter: brightness(1.05);
    transition: 0.25s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


#calendar .calendar__elem .day .selected {
    background-color: #105EF5;
    color: white;
}

.next__month__days {
    filter: brightness(0.90);
}

.day button {
    background-color: var(--borderColor);
}

.progress .heading {
    flex-wrap: wrap;
}

.progress .heading .percentages {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 7px
}

.progress::-webkit-scrollbar {
    display: none;
}

.goodResult {
    background-color: var(--goodBackgroundColor);
    color: var(--goodTextColor);
}

.mediumResult {
    background-color: var(--mediumBackgroundColor);
    color: var(--mediumTextColor);
}

@media screen and (max-width: 1236px) {

    #projects .goals .weekGoals .goal .goal__label {
        font-size: 10px;
        margin-left: 0;
        line-height: 12px;
    }

    #projects .goals .monthGoals .goal .goal__label {
        font-size: 10px;
        margin-left: 0;
        line-height: 12px;
    }

    #projects .progress .progress__bar .heading h5 {
        font-size: 12px;
    }

    #projects .progress .progress__bar .heading .percentages {
        font-size: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1050px) {
    #projects .goals {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        height: 260px;
    }

    #todayTasks label {
        font-size: 1vw;
        margin-left: 5px;
    }

    #todayTasks .tasks__list .task .deadline {
        grid-row: 2;
        grid-column: 2;
        margin-left: 0;
        width: 60px;

    }

    #todayTasks .tasks__list .task .deadline input[type="time"] {
        font-size: 10px;
    }

    #todayTasks .tasks__list .task .deadline svg {
        width: 14px;
        margin-right: 4px;
    }


    #todayTasks .task {
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(2, 1fr);
        height: 50px;
}


}

@media screen and (max-width: 1430px) {
    #todayTasks .tasks__list .task label {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    #todayTasks .tasks__list .task {
        height: 50px;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 945px) {
    #todayTasks .task {
        grid-template-columns: 20px 1fr;
    }
}

@media screen and (max-width: 900px) {

    main {
        height: fit-content;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
    }

    #calendar {
        /*display: none;*/
        grid-column: 8 / 35;
        grid-row: 1;
        height: fit-content;
    }

    #calendar .calendar__elem .day button {
        height: 80px;
    }

    #todayTasks {
        grid-column: 8 / 35;
        grid-row: 14;
        height: fit-content;
        margin-top: 0;
    }

    #projects {
        grid-column: 8 / 35;
        height: fit-content;
        grid-row: 25 / 32;
    }
}

@media screen and (max-width: 1000px) {

    #calendar {
        grid-row: 1 / 14;
    }

    #todayTasks .tasks__list .task {
        grid-template-rows: 1fr;
        grid-template-columns: 10% 70% 20%;
        height: fit-content;
    }

    #todayTasks .tasks__list .task .deadline {
        grid-row: 1;
        grid-column: 3;
    }

    #todayTasks {
        grid-column: 8 / 33;
        grid-row: 15 / 23;
    }

    #calendar .calendar__elem .weekdays .weekday {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {

    #calendar {
        grid-column: 1 / 33;
    }

    #projects {
        grid-column: 1 / 33;
    }

    #todayTasks .tasks__list .task label {
        font-size: 12px;
        margin-left: 10px;
    }

    #todayTasks {
        grid-column: 1 / 33;
    }
}

@media screen and (max-width: 480px) {
    #todayTasks .tasks__list .task {
        grid-template-columns: 10% 60% 25%;
        column-gap: 5px;
    }
}

@media screen and (max-width: 400px) {
    #todayTasks .tasks__list .task {
        height: 50px;
        grid-template-columns: 10% 90%;
        grid-template-rows: repeat(2, 1fr);
    }

    #todayTasks .tasks__list .task .deadline {
        grid-row: 2;
        grid-column: 2;
        width: 40%;
    }
}

@media screen and (max-width: 370px) {
    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    section .heading h3, section .heading {
        font-size: 16px;
    }

    #calendar .choose__month span {
        font-size: 14px;
    }

    #calendar, #projects, #todayTasks {
        padding: 10px;
    }

}