@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* --- main --- */

main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    /*grid-column-gap: 24px;*/
    background-color: var(--backgroundColor);
    /*grid-template-rows: repeat(36, 50px);*/
    height: 100vh;
    overflow-x: hidden;
}

#writeMessage {
    display: flex;
    gap: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--borderColor);
    border-top: 1px solid var(--borderDarkerColor);
    padding: 10px 15px;
    z-index: 2;
}

#writeMessage .inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 68%;
    margin-left: 19%;
    background-color: var(--whiteColor);
    border-radius: 20px;
    padding-right: 20px;
}

#writeMessage input[type="text"] {
    flex-grow: 1;
    padding: 10px 30px;
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    background-color: var(--whiteColor);
}

#writeMessage input[type="text"]::placeholder {
    color: var(--pColor);
}

#writeMessage input[type="file"] {
    display: none;
}

#writeMessage label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
}

#writeMessage label:hover {
    color: #007bff;
}

#writeMessage svg {
    width: 40px;
    height: 40px;
    margin: auto;
}

#sendBtn {
    background-color: #105EF5;
    color: white;
    padding: 0 50px;
    border-radius: 14px;
    transition: filter 0.25s;
}

#sendBtn svg {
    width: 27px;
}

#sendBtn:hover {
    filter: brightness(109%);
    cursor: pointer;
    transition: filter 0.25s;
}

#chat {
    grid-column: 4 / 18;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 20px 40px;
    height: fit-content;
    max-width: 810px;
}

.message .user__data {
    display: flex;

}

.message .user__data img {
    width: 35px;
}


.message .user__name {
    color: #105EF5;
    font-weight: 500;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.message .text {
    color: var(--textColor);
    margin: auto 0;
    grid-row: 2;
    grid-column: 2;
}

.message__own {
    align-self: flex-end;
    background-color: var(--whiteColor);
    border: 1px solid var(--borderColor);
    border-radius: 16px;
    padding: 20px 40px;
    height: fit-content;
}

.message__own .avatar {
    grid-column: 2;
    margin-left: auto;
}

.message__own .text {
    grid-column: 1;
    white-space: wrap;
    max-width: 700px;
    overflow-wrap: anywhere;
}

.message__own .user__name {
    grid-column: 1;
    text-align: end;
}


@media screen and (max-width: 1466px) {
    #writeMessage .inputs {
        width: 64%;
    }
}

@media screen and (max-width: 1095px) {
    #writeMessage .inputs {
        width: 58%;
    }
}

@media screen and (max-width: 812px) {
    #writeMessage .inputs {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    #writeMessage .inputs {
        margin-left: 0;
        width: 70%;
    }

    #chat {
        grid-column: 1 / 18;
    }
}

@media screen and (max-width: 640px) {
    #writeMessage .inputs {
        margin-left: 0;
        width: 70%;
    }

    #sendBtn {
        padding: 0 30px;
    }
}

@media screen and (max-width: 495px) {

    #writeMessage .inputs {
        margin-left: 0;
        width: 70%;
    }

    #sendBtn {
        padding: 0 15px;
    }

    #chat .message .user__name {
        font-size: 14px;
    }

    #chat .message .text {
        font-size: 12px;
    }
}

@media screen and (max-width: 430px) {
    main {
        padding: 88px 10px 10px;
    }

    #writeMessage {
        gap: 5px;
    }

    #writeMessage input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        width: 300px;
        height: 30px;
        border: none;
        border-radius: 20px;
        font-size: 16px;
        outline: none;
        background-color: var(--whiteColor);
    }

    #writeMessage input[type="text"]::placeholder {
        font-size: 12px;
    }

    #writeMessage svg {
        width: 25px;
        height: 25px;
    }

    #writeMessage {
        padding: 10px;
    }

}

@media screen and (max-width: 400px) {
    #writeMessage input[type="text"] {
        width: 100px;
    }
}

@media screen and (max-width: 330px) {
    #writeMessage .inputs {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #sendBtn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    #writeMessage {
        gap: 0;
    }
}