@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

main {
    padding: 88px 30px 30px;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(24, 45px);
}

#tasks {
    overflow-x: hidden;
    /*width: 41.38vw;*/
    height: 370px;
    display: grid;
    grid-row-start: 1;
    grid-column: 9 / 29;
    grid-row: 1;
    background-color: var(--whiteColor);
    padding: 32px 28px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
}


#tasks .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
#tasks .heading a {
    color: #105EF5;
    text-decoration: underline;
}
#tasks .tasks__list {
    padding: 0 0 10px 0;
    overflow-y: scroll;
}


#tasks .tasks__list .task {
    width: 100%;
    padding: 4px 0;
    border-bottom: 1px solid var(--borderColor);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#tasks .tasks__list .task .checkbox {
    grid-column: 1/2;
    grid-row: 1/3;
}
#tasks .tasks__list .task .checkbox input {
    width: 20px;
    height: 20px;
    margin: 40% 29%;
    border-radius: 15px;
}
#tasks .tasks__list .task .mainData {
    grid-row: 1/3;
    grid-column: 2/12;
    padding: 5px 20px;
}
#tasks .tasks__list .task .mainData .title {
    font-size: 16px;
    grid-column: 3/10;
    grid-row: 1;
    font-weight: 500;
    margin-bottom: 7px;
}
#tasks .tasks__list .task .mainData .deadline {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}

#tasks .tasks__list .task .mainData svg {
    color: var(--textColor);
}

#tasks .tasks__list .task .mainData .deadline p {
    margin-left: 8px;
}
#tasks .tasks__list .task .secondaryData {
    text-align: right;
    grid-column: 13/17;
    grid-row: 1/3;
}
#tasks .tasks__list .task .secondaryData .user, #tasks .tasks__list .task .secondaryData .project {
    margin: 5px 0;
}
#tasks .tasks__list .task .secondaryData .project .projectName {
    display: inline;
    margin: 7px;
    font-weight: 400;
    white-space: nowrap;
}
#tasks .tasks__list .task .secondaryData .project .projectChar {
    background-color: var(--backgroundColor);
    margin: 5px 0;
    padding: 2px 4px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 10px;
    color: #105EF5;
}

#tasks .controls {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#tasks .controls .content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100%;
}

#tasks .tasks__list::-webkit-scrollbar {
    display: none;
}

#tasks .controls .left img {
    transform: rotate(-90deg);
    padding: 5px;
}
#tasks .controls .right img {
    transform: rotate(90deg);
    padding: 5px;
}
#tasks .controls a {
    color: #105EF5;
    margin: 2px;
    line-height: 44px;
    vertical-align: middle;
    border-radius: 5px;
}

#tasks .controls .page {
    display: block;
    padding: 0 0.93vw;
    vertical-align: middle;
    transition: 0.25s;
}

#tasks .controls .page:hover {
    background-color: var(--hoverElementColor);
}

#tasks .controls .current__page {
    background-color: #105EF5;
    color: #FFFFFF;
}

#tasks .controls .current__page:hover {
    background-color: #105EF5;
}

#projects {
    overflow-x: hidden;
    overflow-y: hidden;
    /*width: 41.38vw;*/
    display: grid;
    grid-column: 9 / 29;
    grid-row: 11 / 22;
    background-color: var(--whiteColor);
    padding: 32px 28px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
}

#projects .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    height: fit-content;
}
#projects .heading a {
    color: #105EF5;
    text-decoration: underline;
}
#projects .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    padding-top: 10px;
}

#projects .projects::-webkit-scrollbar {
    display: none;
}

#projects .projects .project {
    height: 17vw;
    width: 12.153vw;
    background-color: var(--whiteColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    box-shadow: 0 2px 6px var(--borderColor);
}
#projects .projects .project img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#projects .project__img {
    width: 100%;
    height: 8.68vw;
}

#projects .projects .project .project__info {
    padding: 5px 10px;
}
#projects .projects .project .project__link {
    font-size: 0.7vw;
    color: #105EF5;
}
#projects .projects .project .project__name {
    font-weight: 500;
    font-size: 1.2vw;
}
#projects .projects .project .project__description {
    font-size: 0.46vw;
    color: var(--pColor);
    margin-top: 6px;
}
#projects .projects .project .project__operations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#projects .projects .project .members {
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
    width: 70px;
}
#projects .projects .project .members .plus__members {
    background-color: rgb(226, 246, 255);
    font-size: 10px;
    padding: 6px 4px;
    border-radius: 30px;
    position: relative;
    right: 18px;
    color: #105EF5;
}
#projects .projects .project .members .member {
    position: relative;
}
#projects .projects .project .members .member.member1 {
    left: 9px;
}
#projects .projects .project .members .member.member3 {
    right: 9px;
}
#projects .projects .new__project {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17vw;
    width: 12.153vw;
    background-color: var(--backgroundColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    transition: 0.25s;
}
#projects .projects .new__project:hover {
    background-color: var(--hoverElementColor);
}

#projects .projects .new__project .content {
    color: #105EF5;
    text-align: center;
    font-size: 1vw;
}

#statistics {
    width: calc(24vw + 64px);
    grid-column: 30;
    height: fit-content;
    grid-template-columns: repeat(2, 1fr);
}
#statistics .productivity {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#statistics .productivity .card {
    display: flex;
    align-items: center;
    background-color: var(--whiteColor);
    margin-bottom: 1vw;
    width: 11.5vw;
    height: 3vw;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--borderColor);
}
#statistics .productivity .card img {
    width: 1.736vw;
    height: 1.736vw;
    background-color: var(--backgroundColor);
    padding: 10px;
    border-radius: 10px;
}
#statistics .productivity .card .info {
    margin: auto;
}
#statistics .productivity .card .info .heading {
    font-size: 0.7vw;
    color: var(--pColor);
}
#statistics .productivity .card .info .results {
    display: flex;
    align-items: center;
    font-size: 1.273vw;
    margin-top: 10px;
}
#statistics .productivity .card .info .percentages {
    color: var(--goodTextColor);
    background-color: var(--goodBackgroundColor);
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 0.81vw;
    margin-left: 6px;
}

#calendar {
    width: 24vw;
    padding: 25px 32px;
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    background-color: var(--whiteColor);
    grid-column: 30;
    grid-row: 6 / 22;
    overflow-x: hidden;
    overflow-y: hidden;
}

#calendar .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#calendar .heading a {
    text-decoration: underline;
    color: #105EF5;
}
#calendar .date {
    padding: 10px 0;
    color: var(--textColor);
}
#calendar .date__title {
    font-size: 20px;
    font-weight: 500;
}
#calendar .weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}
#calendar .weekdays .day {
    height: 70px;
    width: 2.8vw;
    border-radius: 8px;
    text-align: center;
    line-height: 22px;
    vertical-align: middle;
    border: 1.5px solid #105EF5;
    background: none;
    color: var(--textColor);
    transition: background-color 0.25s;
}

#calendar .weekdays .day:hover {
    background-color: var(--hoverElementColor);
    cursor: pointer;
    transition: background-color 0.25s;
}

#calendar .weekdays .day .weekday {
    font-size: 0.8vw;
    display: block;
    font-weight: 600;
}

#calendar .weekdays .day.weekend {
    border-color: var(--pColor);
    border-width: 1px;
    color: var(--pColor);
}

#calendar .weekdays .day.current {
    background-color: #105EF5;
    border-color: #105EF5;
    color: #FFFFFF; !important;
}

#calendar .tasks__order {
    overflow-y: scroll;
    overflow-x: hidden;
}

#calendar .tasks__order::-webkit-scrollbar {
    display: none;
}

#calendar .tasks__order .task__division {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    margin: 40px 0 20px;
}
#calendar .tasks__order .task__division .time {
    color: #105EF5;
}
#calendar .tasks__order .task__division .line {
    background-color: var(--hoverElementColor);
    width: 4px;
    height: 100%;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
#calendar .tasks__order .task__division .task {
    background-color: var(--hoverElementColor);
    padding: 20px;
    border-left: 7px solid #105EF5;
    border-radius: 7px;
}
#calendar .tasks__order .task__division .task .heading {
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--textColor);
}
#calendar .tasks__order .task__division .task .description {
    font-size: 0.7vw;
    font-weight: 500;
    color: var(--textColor);
}
#calendar .tasks__order .task__division .timeline {
    grid-column: 1/2;
}
#calendar .tasks__order .task__division .task {
    grid-column: 2/6;
}

.arrow__btn img {
    display: block;
    margin: auto;
}

.deadline svg {
    width: 1.39vw;
}


/*1212 брейнпоинт calendar: grid-row: 4; */

/*1212 брейнпоинт */

@media screen and (max-width: 1150px) {
    #calendar {
        grid-row: 5 / 22;
    }

    #calendar .weekdays .day {
        height: 60px;
        width: 3vw;

    }
}

@media screen and (max-width: 1425px) {

    #projects .projects .project {
        padding-bottom: 15px;
    }

    #projects .projects .new__project {
        padding-bottom: 15px;
    }

    #projects .projects .project .more__btn {
        padding: 2px 6px;
        font-size: 12px;
    }

    #projects .projects .project .members {
        margin-left: 1.7vw;
    }

    #projects .projects .project .members .member {
        width: 17px;
    }

    #projects .projects .project .members .plus__members {
        font-size: 6px;
        padding: 6px 5px;
    }
}

@media screen and (max-width: 837px) {
    #calendar {
        grid-row: 4 / 22;
    }
}

@media screen and (max-width: 1000px) {

    aside ul li .icon {
        width: 20px;
    }

}

@media screen and (max-width: 1000px) {

    aside ul li .icon {
        width: 20px;
    }

}

@media screen and (max-width: 1077px) {
    #tasks .tasks__list .task .mainData .title {
        font-size: 12px;
    }

    #tasks .tasks__list .task .mainData .deadline {
        font-size: 9px;
    }

    #tasks .tasks__list .task {
        grid-template-columns: repeat(15, 1fr);
    }

    #tasks .tasks__list .task .secondaryData {
        grid-column: 11/16;
    }

}

@media screen and (max-width: 1300px) {
    #tasks {
        grid-column: 11 / 31;
        height: 360px;
    }

    #projects {
        grid-column: 11 / 31;
        grid-row: 13 / 20;
    }

    #tasks {
        grid-column: 11 / 31;
        grid-row: 1 / 12;
        height: 450px;
    }

    #statistics {
        grid-column: 32;
    }

    #calendar {
        grid-column: 32;
        grid-row: 5 / 20;
    }
}

@media screen and (max-width: 1170px) {
    #tasks {
        height: max-content;
        grid-column: 8 / 33;
        grid-row: 1 / 15;
    }

    #projects {
        height: fit-content;
        grid-column: 8 / 35;
        grid-row: 12 / 30;
    }

    #projects .projects .project {
        width: 20vw;
        height: 30vw;
    }

    #projects .projects .project .project__img {
        height: 50%;
    }

    #projects .projects .project .project__link {
        font-size: 0.8vw;
    }

    #projects .projects .project .project__name {
        font-size: 1.6vw;
    }

    #projects .projects .project .project__description {
        font-size: 0.8vw;
    }

    #projects .projects .project .project__operations {
        margin-top: 20%;
    }

    #projects .projects .new__project {
        width: 20vw;
        height: 30vw;
    }

    #projects .projects .project .members {
        width: 50px;
    }

    #projects .projects .project .more__btn {
        padding: 2px 1vw;
        font-size: 1vw;
        width: 60%;
    }

    #tasks .controls .page {
        padding: 0 1.5vw;
    }

    .deadline svg {
        width: 17px;
    }

    #statistics {
        width: 100%;
        grid-column: 8 / 40;
        grid-row: 23;
    }

    #statistics .productivity .card {
        width: 13vw;
    }

    #statistics .productivity .card .info .heading {
        font-size: 0.8vw;
    }

    #calendar {
        width: 100%;
        grid-row: 25;
        grid-column: 8 / 31;
    }

    #calendar .weekdays .day {
        width: 12%;
        border-radius: 1.5vw;
        font-size: 2vw;
    }

    #calendar .weekdays .day .weekday {
        font-size: 1.2vw;
    }


    #calendar .tasks__order .task__division .task {
        grid-column: 2 / 15;

    }

    #calendar .tasks__order .task__division .task .heading {
        font-size: 16px;
    }


    #calendar .tasks__order .task__division .task .description {
        font-size: 9px;
        font-weight: 500;
        color: var(--textColor);
    }


}

@media screen and (max-width: 1030px) {
    #statistics {
        grid-row: 22;
    }
}

@media screen and (max-width: 866px) {
    #statistics {
        grid-row: 21;
    }
}

@media screen and (max-width: 735px) {
    #statistics {
        grid-row: 20;
    }
}

@media screen and (max-width: 687px) {
    #statistics .productivity .card {
        width: 28vw;
    }

    #statistics .productivity .card .info .heading {
        font-size: 1.4vw;
    }

    #statistics .productivity .card img {
        margin-top: 10px;
    }

    #statistics .productivity .card .info .results {
        font-size: 2vw;
        margin-top: 4px;
    }

    #statistics .productivity .card .info .percentages {
        font-size: 1.4vw;
    }

    #statistics .productivity .card {
        padding-top: 10px;
        padding-bottom: 21px;
    }
}

@media screen and (max-width: 600px) {
    #statistics {
        grid-row: 19;
    }

    #statistics .productivity .card {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 419px) {
    #statistics {
        grid-row: 18;
    }

    #statistics .productivity .card {
        width: 100%;
        padding: 15px;
    }

    #statistics .productivity .card img {
        margin-right: 0;
        margin-left: auto;
        margin-top: 0;
    }

    #statistics .productivity .card .info {
        margin: 0;
    }
}

@media screen and (max-width: 700px) {

    main {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 10px;
        height: 100%;
    }


    #projects .projects .project .project__operations {
        margin-top: 5%;
    }

    #tasks {
        grid-column: 1;
        grid-row: 1;
        width: auto;
    }

    #projects {
        height: fit-content;
        grid-column: 1;
        grid-row: 3;

        width: auto;
    }

    #projects .projects .project {
        width: 24vw;
    }

    #projects .projects .new__project {
        width: 24vw;
    }

    #projects .projects .project .project__img {
        height: 55%;
    }

    #projects .projects .project .project__name {
        font-size: 2vw;
    }

    #statistics {
        grid-column: 1;
        grid-row: 3;
        width: auto;
    }

    #statistics .productivity .card {
        width: 42%;
    }

    #statistics .productivity .card .info {
        margin-left: 20px;
        margin-right: auto;
    }

    #calendar {
        grid-row: 4;
        padding: 20px;
        height: 100%;
        width: auto;
        grid-column: 1;
    }

    #calendar .weekdays .day .weekday {
        font-size: 2vw;
    }

}

@media screen and (max-width: 419px) {
    #statistics {
        grid-row: 20;
    }

    #statistics .productivity .card {
        width: 100%;
    }

    #statistics .productivity .card .info .heading {
        font-size: 2.4vw;
    }

    #statistics .productivity .card .info .results h5 {
        font-size: 2vw;
    }

    #statistics .productivity .card .info .results p {
        font-size: 1.5vw;
    }

    #statistics .productivity .card img {
        width: 15px;
        height: 15px;
    }

    #projects .projects .new__project .content {
        font-size: 3vw;
        color: red !important;
    }

    #statistics .productivity {
        grid-row: 31;
    }
}