@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --textDarkerColor: #1B1B1B;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
    --goodBackgroundColor: #E7FFE3;
    --goodTextColor: #29D381;
    --mediumBackgroundColor: #FFF9D4;
    --mediumTextColor: #FFAE00;
    --badBackgroundColor: #FFD8D8;
    --badTextColor: #F44747;
    --bodyColor: #CBEDFF;

    --pFontSize: 16px;
}

h1 {
    font-weight: 800;
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 64px;
}

h4, h5 {
    font-weight: 600;
}

button {
    background: none;
    border: none;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

/*section {*/
/*    height: 100vh;*/
/*}*/


a:hover {
    cursor: pointer;
    color: #105EF5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 20px;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3978f6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #105EF5;
    border-radius: 50%;
    background-color: #E3F5FF;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
}


input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.drop__menu {
    display: none;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.active__drop__menu {
    display: block;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 30;
    width: 240px;
    right: 60px;
    top: 70px;
}

.drop__menu .items__list {
    z-index: 30;
}

.drop__menu .items__list .menu__elem {
    display: block;
    width: 180px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px auto;
    color: #105EF5;
    background-color: var(--whiteColor);
}

.drop__menu .items__list .menu__elem:hover {
    color: #3978f6;
}

#create {
    color: var(--textColor);
}

#create:hover {
    color: #105EF5;
}

.more__btn {
    border: 1px #105EF5 solid;
    border-radius: 10px;
    padding: 3px 10px;
    color: #105EF5;
    transition: 0.25s;
}

.more__btn:hover {
    cursor: pointer;
    background-color: #105EF5;
    color: white;
    transition: 0.25s;
}

.inactive__btn {
    color: var(--pColor); /* Используем переменную */
    border: 2px solid var(--pColor); /* Используем переменную */
    border-radius: 12px;
    padding: 14px 100px;
    background: none;
    font-size: 18px;
    transition: 0.25s;
}

.inactive__btn:hover {
    border-color: var(--grayDarkColor); /* Используем переменную */
    background-color: var(--grayDarkColor); /* Используем переменную */
    color: var(--whiteColor); /* Используем переменную */
    transition: 0.25s;
    cursor: pointer;
}

.active__btn {
    color: #FFFFFF;
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 100px;
    font-size: 18px;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

li {
    list-style: none;
    color: var(--textColor);
}

body {
    background-color: var(--bodyColor);
}

.blue__word {
    color: #105EF5;
}

.bolder {
    color: var(--textColor) !important;
    font-weight: 500 !important;
}

main {
    max-width: 100vw;
    display: grid;
    /*grid-template-rows: repeat(5, 1fr);*/
    grid-template-columns: repeat(16, 1fr);
    /*padding: 80px 0;*/
    overflow-x: hidden;
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / 16;
    grid-row: 1;
    margin-top: 100px;
}

#head .heading {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
}

#head .heading h1 {
    font-size: 4.515vw;
}

.heading p {
    color: var(--textDarkerColor);
    font-size: var(--pFontSize);
    font-weight: 500;
}

#head .picture {
    width: 46.29vw;
    border-radius: 12px;
    grid-column: 2;
    grid-row: 1 / 3;
}

#head .available__list {
    display: block;
    grid-row: 3;
    align-self: end;
}

#head .available__list .available__icons img {
    width: 200px;
}

#head .available__list p {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1.5vw;
}


#about {
    grid-row: 2;
    grid-column: 2 / 16;
    width: 100%;
    margin-top: 300px;
    height: 100vh;
}

#about .cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    overflow-x: scroll;
}

#about .cards::-webkit-scrollbar {
    display: none;
}

#about .cards .card {
    width: 16vw;
    height: 24vw;
    background-color: var(--whiteColor);
    border: 2px solid var(--borderColor);
    border-radius: 18px;
    text-align: center;
    padding: 3vw 2.8vw;
    flex-shrink: 0;
    margin: 0 10px;
}

#about .cards .card h4 {
    font-size: 1.5vw;
}

#about .cards .card .info {
    color: var(--pColor);
    text-align: left;
    margin-top: 50px;
    font-size: 1vw;
}

#about .cards .card .icon {
    font-size: 4.6vw;
}

#about svg {
    color: var(--textColor);
    transition: color 0.4s;
}

#about svg:hover {
    cursor: pointer;
    color: #105EF5;
    transition: color 0.25s;
}

#about .movement {
    display: flex;
}

#arrowLeft {
    transform: rotate(-90deg);
}

#arrowRight {
    transform: rotate(90deg);
}

.slider {
    margin: 30px 0;
}

.dots {
    display: flex;
    justify-content: center;
}

.dots .dot {
    border-radius: 10px;
    padding: 5px;
    height: 2px;
    width: 2px;
    background-color: #686868;
    margin: 30px 5px;
}

.dots .current {
    background-color: #105EF5;
}

.dots .dot:hover {
    cursor: pointer;
}

.slider {
    display: flex;
    margin: 20px auto;
    padding-top: 100px;
}

.parts {
    max-width: 45%;
    margin-top: 80px;
}

.parts h4 {
    font-size: 21px;
}

.parts .part {
    margin-top: 40px;
}

.part .emoji {
    font-size: 25px;
}

.part p {
    display: inline;
    color: var(--pColor);
}

#productivity {
    grid-column: 2 / 16;
    grid-row: 3;
}

#productivity .info {
    display: flex;
    justify-content: space-between;
}

#productivity .images {
    width: fit-content;
    position: relative;
    left: 200px;
    bottom: 40px;
}

#productivity .images .back {
    position: relative;
    width: 450px;
    top: 100px;
    right: 100px;
}

#productivity .images .forward {
    width: 550px;
    position: relative;
    z-index: 10;
    box-shadow: -6px -2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#reminders {
    grid-row: 4;
    grid-column: 2 / 16;
}

#reminders .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#reminders .info .parts {
    max-width: 60%;
}

#reminders .images img {
    width: 300px;
}

#end {
    grid-column: 1 / 17;
    overflow: hidden;
}

#endPic {
    width: 100%;
    /*height: 90%;*/
    height: 80%;

}

#end .heading {
    text-align: center;
    width: 70%;
    margin: auto;
    position: relative;
    top: 330px;
}

/*#end .rating {*/
/*    text-align: center;*/
/*    width: 50%;*/
/*    margin: auto;*/
/*    !*position: relative;*!*/
/*    !*top: 400px;*!*/
/*    font-size: 21px;*/
/*}*/

#end .screenData {
    /*background-color: red;*/
    width: fit-content;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 560px;
    left: 50px;
}

.get__app {
    background-color: var(--textColor);
    color: var(--whiteColor);
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    text-align: center;
    margin-top: 30px;
    transition: 0.4s;
}

.get__app:hover {
    /*background-color: var(--textDarkerColor);*/
    transform: scale(110%);
    box-shadow: 0 0 10px rgb(89, 142, 246);
    background-color: #105EF5;
    transition: 0.4s;
    cursor: pointer;
}

footer {
    background-color: black;
    height: 300px;
}

footer .container {
    display: grid;
    height: 100%;
    width: 50%;
    margin: auto;
    grid-template-columns: 20% 50% 20%;
    grid-column-gap: 5%;
}

.contacts {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.contacts img {
    width: 35px;
}

footer .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
}