@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "work sans";
    margin: 0;
}

p {
    color: #858587;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

input {
    border-radius: 10px;
    border-width: 1.5px;
    border-color: #858587;
    outline: none;
    border-style: solid;
    height: 30px;
    width: 270px;
    padding: 10px 30px;
    font-size: 15px;
    margin: 10px 0;
    transition: 0.25s;
}

input:hover {
    cursor: pointer;
}

input::placeholder {
    font-size: 15px;
    color: #858587;
}

input:focus {
    border-color: #105EF5;
    transition: 0.25s;
    cursor: text;
}

a {
    text-decoration: none;
    color: #858587;
    text-decoration: underline;
}


button {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #E3F5FF;
    transition: 0.25s;
}

button span:hover {
    color: white;
}


#signIn {
    grid-column-start: 6;
    margin-top: 100px;
}

#signIn .heading h1 {
    font-size: 30px;
}

#signIn .heading p {
    margin-top: 12px;
}

#signIn .buttons {
    margin-top: 70px;
}

#signIn .buttons button {
    height: 50px;
    width: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

#signIn .buttons button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

#signIn .buttons button span {
    color: black;
    font-weight: 500;
    font-size: 14px;
}


#signIn hr {
    width: 65%;
    height: 1.5px;
    background-color: black;
    border: none;
    margin: 40px auto;
}


.submit {
    background-color: #105EF5;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    border: none;
    width: 333px;
    transition: 0.25s;
}

input[type="submit"]:hover {
    filter: brightness(110%);
    cursor: pointer;
    transition: 0.25s;
}



#login {
    grid-column-start: 4;
}


form p {
    font-size: 12px;
}

.have__account {
    color: #858587;
    text-align: center;
}

.have__account button {
    color: black;
    border: none;
    width: fit-content;
    display: inline;
    padding: 0;
    font-weight: 500;
}

.have__account button:hover {
    color: #105EF5;
    background: none;
}

#picture {
    grid-column-start: 12;
}

@media screen and (max-width: 1220px) {
    #picture img {
        width: 50vw;
        height: 100%;
    }
}

@media screen and (max-width: 950px) {
    #picture {
        display: none;
    }

    form {
        width: 333px;
        margin: 0 auto;
    }

    #signIn {
        grid-column: 4 / 10;
        text-align: center;
    }

    #signIn .buttons button {
        margin: 20px auto;
        text-align: center;
    }
}

@media screen and (max-width: 685px) {
    form {
        width: fit-content;
    }

    main {
        grid-template-columns: 1fr;
        padding: 20px 100px;
    }
}

input[type="email"].error {
    border-color: var(--badTextColor);
    background-color: var(--badBackgroundColor);
}


input[type="password"].error {
    border-color: var(--badTextColor);
    background-color: var(--badBackgroundColor);
}