@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --whiteColor: #FFFFFF;
    --grayDarkColor: #1e1e1e;
    --borderColor: #F4F4F5;
    --textColor: black;
    --pColor: #858587;
    --inputColor: black;
    --backgroundColor: #FAFCFEFF;
    --hoverButtonColor: black;
    --hoverElementColor: #E3F5FF;
    --borderDarkerColor: #e4e4e4;
}

button {
    background: none;
    border: none;
}

* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textColor);
}

input {
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--borderColor); /* Используем переменную */
    border-style: solid;
    height: 18px;
    width: 120px;
    padding: 10px 60px;
    font-size: 15px;
    color: var(--textColor);
    outline: none;
}

input::placeholder {
    color: var(--textColor); /* Используем переменную */
    font-size: 15px;
}

a {
    text-decoration: none;
    color: var(--textColor); /* Используем переменную */
}

.inactive__btn {
    color: var(--pColor); /* Используем переменную */
    border: 2px solid var(--pColor); /* Используем переменную */
    border-radius: 12px;
    padding: 14px 5.8vw;
    background: none;
    font-size: 1.2vw;
    transition: 0.25s;
}

.inactive__btn:hover {
    cursor: not-allowed;
}

.active__btn {
    color: #FFFFFF; /* Используем переменную */
    background-color: #105EF5;
    border-radius: 12px;
    padding: 14px 5.8vw;
    font-size: 1.2vw;
    border: none;
    transition: 0.25s;
}

.active__btn:hover {
    background-color: #3978f6;
    cursor: pointer;
    transition: 0.25s;
}

li {
    list-style: none;
    color: var(--textColor);
}


main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    background-color: var(--backgroundColor);
    grid-template-rows: repeat(22, 50px);
    height: fit-content;
}

#head {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 8;
}

#head h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-image: url("../imgs/main/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 300px;
    text-align: center;
    font-size: 36px;
}

#head img {
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

/* --- plans --- */

#plans {
    display: grid;
    grid-column-start: 4;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 22;
}

#plans .cards {
    display: flex;
    justify-content: space-between;
}

#plans .cards .card {
    border: 1px solid var(--borderColor);
    width: 19.8vw;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 3.5px 5.5px rgba(147, 148, 161, 0.1);
    background-color: var(--whiteColor); /* Используем переменную */
    height: 660px;
}

#plans .card .heading {
    margin-top: 50px;
}

#plans .card .title {
    margin-top: 30px;
}

#plans .card .title h3 {
    font-size: 1.5vw;
    font-weight: 400;
}

#plans .card .title p {
    color: var(--pColor); /* Используем переменную */
    font-size: 0.81vw;
    font-weight: 400;
}

#plans .card .price {
    margin-top: 40px;
}


#plans .card .price h4 {
    font-size: 32px;
    color: var(--textColor);
}

#plans .card .price p {
    font-size: 0.81vw;
    color: var(--pColor); /* Используем переменную */
}

#plans .card .about {
    margin-top: 60px;
}

#plans .card .about .pros {
    margin: 40px 0 auto;
    padding-left: 2.4vw;
}

#plans .card .about .pros li {
    text-align: left;
    list-style: none;
    margin-top: 15px;
    font-size: 0.81vw;
    margin-left: 15px;
}

#plans .card .about .pros li::before {
    content: "";
    background-image: url("../imgs/main/checkmark.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 0.7vw;
    right: 20px;
    top: 0.58vw;
}

.drop__menu {
    display: none;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 12;
    width: 240px;
    right: 60px;
    top: 70px;
}

.active__drop__menu {
    display: block;
    position: absolute;
    background-color: var(--borderColor);
    border: 1px solid var(--borderDarkerColor);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 12;
    width: 240px;
    right: 60px;
    top: 70px;
}

.drop__menu .items__list .menu__elem {
    display: block;
    width: 180px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px auto;
    color: #105EF5;
    background-color: var(--whiteColor);
}

.drop__menu .items__list .menu__elem:hover {
    color: #3978f6;
}

#create {
    color: var(--textColor);
}

#create:hover {
    color: #105EF5;
}



@media screen and (max-width: 1361px) {

    #plans .cards .card {
        height: 600px;
    }
}

@media screen and (max-width: 860px) {
    #plans .cards .card {
        height: 570px;
    }
}

/*676px --- ширина начала мобильной*/