@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


main {
    padding: 88px 30px 30px;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(20, 5%);
    background-color: var(--backgroundColor);
}

section {
    padding: 20px 30px;
}

section p {
    color: var(--pColor);
}

.arrows {
    display: inline-block;
    transition: 0.25s;
}

.arrows a :hover {
    color: #105EF5;
    transition: 0.25s;
}

.arrows .back {
    display: inline;
}

.back svg {
    transform: rotate(-90deg);
}

.arrows .next {
    display: inline;
}

.next svg {
    transform: rotate(90deg);
}


.effectivity {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

#myProdToday .prod__label , #myProdWeek .prod__label {
    background-color: var(--goodBackgroundColor);
    color: var(--goodTextColor);
    width: fit-content;
    padding: 6px 17px;
    border-radius: 8px;
    margin: 0 20px;
    font-size: 14px;
}

#myProdToday .prod__increase, #myProdWeek .prod__increase {
    color: var(--goodTextColor);
    font-size: 12px;
}

#myProdToday {
    background-color: var(--whiteColor);
    border-radius: 15px;
    border: var(--borderColor) 1px solid;
    grid-column: 7 / 17;
    grid-row: 1 / 10;
    overflow-y: scroll;
}

#myProdToday::-webkit-scrollbar {
    display: none;
}

#myProdWeek {
    background-color: var(--whiteColor);
    border-radius: 15px;
    border: var(--borderColor) 1px solid;
    grid-column: 7 / 17;
    grid-row: 11 / 19;
    overflow-y: scroll;

}

#myProdWeek::-webkit-scrollbar {
    display: none;
}


#myProdToday .progress__bar p, #myProdWeek .progress__bar p {
    color: #105EF5;
    font-size: 12px;
    padding-bottom: 4px;
}

#myProdToday .bar, #myProdWeek .bar  {
    width: 100%;
    height: 5px;
    background-color: var(--borderColor);
    border-radius: 5px;
    color: var(--textColor);
}


#myProdToday .progress, #myProdWeek .progress {
    position: relative;
    top: 5px;
    z-index: 3;
    width: 72%;
    height: 5px;
    background-color: #105EF5;
    border-radius: 5px;
    transition: 0.25s;
}

#myProdToday .progress:hover, #myProdWeek .progress:hover {
    cursor: pointer;
    filter: brightness(110%);
    transition: 0.25s;
}

#myProdToday .projects, #myProdWeek .projects {
    margin-top: 22px;
}

#myProdToday .projects__list, #myProdWeek .projects__list {
    margin-top: 16px;
}

#myProdToday .projects__list .project , #myProdWeek .projects__list .project {
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: var(--borderColor);
    padding: 5px 30px;
    border-radius: 8px;
    margin-bottom: 6px;
    font-size: 14px;
}

#myProdToday .project__name, #myProdWeek .project__name {
    grid-column: 1;
    margin: auto 0;
}

#myProdToday .project__name span, #myProdWeek .project__name span {
    color: var(--pColor);
    font-size: 0.9vw;
}

#myProdToday .project__name .name, #myProdWeek .project__name .name {
    color: var(--textColor);
    font-size: 0.9vw;
}

#myProdToday .project .prod__label, #myProdWeek .project .prod__label {
    grid-column: 2;
    margin: 0 0 0 auto;
}

#teamProductivity {
    display: grid;
    width: 90%;
    height: 95%;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 18 / 33;
    grid-row: 1 / 19;
    background-color: var(--whiteColor);
    border-radius: 15px;
    border: var(--borderColor) 1px solid;
    overflow-y: scroll;
}

teamMonthlyProd {
    width: 100% !important;
}

#teamProductivity::-webkit-scrollbar {
    display: none;
}

#teamProductivity .average {
    margin-top: 40px;
}

#teamProductivity .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#teamProductivity .choose__month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#teamProductivity .choose__month a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

#teamProductivity .choose__month span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--textColor);
}


#teamProductivity canvas {
    width: 100% !important;
    max-height: 360px;
    display: block;
}

@media screen and (max-width: 1400px) {
    #teamProductivity {
        height: 80%;
    }
}


@media screen and (max-width: 1200px) {
    #myProdToday .projects .project .prod__label, #myProdWeek .projects .project .prod__label {
        font-size: 10px;
    }

    #myProdToday .projects .project .project__name span, #myProdWeek .projects .project .project__name span {
        font-size: 10px;
    }

    #myProdToday .effectivity .prod__increase, #myProdWeek .effectivity .prod__increase {
        font-size: 0.9vw;
    }

    #myProdToday .effectivity .prod__label, #myProdWeek .effectivity .prod__label {
        padding: 3px 6px;
        font-size: 10px;
        margin-right: 5px;
    }

    #teamMonthlyProd {
        width: 60%;
    }
}


@media screen and (max-width: 1100px) {
    #teamProductivity {
        height: 70%;
    }
}


@media screen and (max-width: 1000px) {
    #myProdToday {
        grid-column: 8 / 30;
        grid-row: 1 / 7;
        width: 100%;
    }

    #myProdWeek {
        width: 100%;
        grid-column: 8 / 30;
        grid-row: 8 / 14;
    }

    #myProdToday .effectivity .prod__increase, #myProdWeek .effectivity .prod__increase {
        font-size: 10px;
    }

    #teamProductivity {
        grid-row: 15 / 34;
        height: 100%;
        grid-column: 8 / 30;
        width: 100%;
    }

}

@media screen and (max-width: 700px) {

    main {
        grid-template-columns: 1fr;
    }

    #myProdToday {
        grid-column: 1;
        grid-row: 1 / 8;
        width: auto;
    }

    #myProdWeek {
        width: auto;
        grid-column: 1 / 27;
        grid-row: 9 / 16;
    }

    #myProdToday .effectivity .prod__increase, #myProdWeek .effectivity .prod__increase {
        font-size: 10px;
    }

    #teamProductivity {
        grid-row: 17 / 26;
        grid-column: 1;
        width: auto;
    }

    #teamMonthlyProd {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {

    #teamProductivity {
        overflow-x: scroll;
    }

    #teamMonthlyProd {
        height: 500px !important;
    }

    section .heading h3 {
        font-size: 16px;
    }

    section .heading p {
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    #teamMonthlyProd {
        height: 500px !important;
    }
}

@media screen and (max-width: 390px) {
    main {
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: 1fr;
    }

    #myProdToday {
        width: auto;
        padding: 20px;
        grid-column: 1;
    }

    #myProdWeek {
        width: auto;
        padding: 20px;
        grid-column: 1;
    }

    #teamProductivity {
        width: auto;
        padding: 20px;
        grid-column: 1;
    }


}